@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Work+Sans:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.cdnfonts.com/css/chicle");
@import url("https://fonts.cdnfonts.com/css/marmelad-2");
@import url("https://fonts.cdnfonts.com/css/youth-action");
@import url("https://fonts.cdnfonts.com/css/aok-buenos-aires");
@import url("https://fonts.cdnfonts.com/css/g-guarantee");
@import url("https://fonts.cdnfonts.com/css/tt-livret-text-trial");
@import url("https://fonts.cdnfonts.com/css/cantora-one");
@import url("https://fonts.cdnfonts.com/css/kg-happy");
@import url("https://fonts.cdnfonts.com/css/marker-monkey-fw");
@import url("https://fonts.cdnfonts.com/css/funkyjunk");
@import url("https://fonts.cdnfonts.com/css/chicken-butt");
@import url("https://fonts.cdnfonts.com/css/good-daddy");
@import url("https://fonts.cdnfonts.com/css/avengeancemightiestavenger");
@import url("https://fonts.cdnfonts.com/css/nice-sugar");
@import url("https://fonts.cdnfonts.com/css/inconsolata-2");

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}
